
  .nav-header{
    display: inline-flex;
    float:right !important;
    margin-top: 1.5em;
  }
  .nav-box{
     right: 3em;
     position: absolute;
     margin-top: .5em;
 
  }
  
  h1{
    color: whtie;
    text-decoration: none;
  }